
<div class="container">
<img src="../images/logo-palfinder.png" width="250" style="padding: 50px 0 50px 0;" />

  <div class="card card-container">
    <div class="login" ng-controller="registerLogInLogOut">
      <form class="form-signin">
        <div class="form-group">
          <span id="reauth-email" class="reauth-email"></span>
          <!-- <p class="input_title">Email</p> -->
          <input type="text" id="inputEmail" class="login_box" ng-model="email" placeholder="email" ng-show="!loggedIn" required autofocus> <br/>
          <!-- <p class="input_title">Password</p> -->
          <input type="password" ng-model="password" placeholder="password" ng-show="!loggedIn" required> 

          <div id="remember" class="checkbox">
                    <label>
                        
                    </label>
          </div>
          <button class="btn btn-default" type="submit" ng-click="logIn()" ng-show="!loggedIn">LOGIN</button>

          <div>{{badLogin}}</div>
          <a href="" ng-click="signUp()">Don't have an account? <strong>Signup</strong> ...</a>
        </div>
      </form>
    </div>
  </div>
</div>
